body {
	background-color:#F0FFFF ;
}

h1, p {
	font:family "arial", "helvatica", "sans serif";
   text-indent: 10px;
}

 li  {
      display:inline;
      margin-left:20px;
}

a{
    color: #000000;
    text-decoration:none;
}

a:hover {
    color:#ff8800  
